<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>540855751979-3hh38sslj97jkr82kh19v5r1ph8bb7pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540855751979-3hh38sslj97jkr82kh19v5r1ph8bb7pg</string>
	<key>API_KEY</key>
	<string>AIzaSyCIiSPzfd8GqoQ4gZ_DQCyrxP8PNgWLS3I</string>
	<key>GCM_SENDER_ID</key>
	<string>540855751979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ninebase</string>
	<key>PROJECT_ID</key>
	<string>realestatestaff-b79b3</string>
	<key>STORAGE_BUCKET</key>
	<string>realestatestaff-b79b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540855751979:ios:e9ed175c549585ad</string>
	<key>DATABASE_URL</key>
	<string>https://realestatestaff-b79b3.firebaseio.com</string>
</dict>
</plist>